<form class="flex-initial self-start flex flex-col bg-base-100 shadow-sm p-2 gap-3" (submit)="onSubmit($event)"
      [class]="{'flex-1': algorithm() === encryptions.CesarKey, 'flex-initial': algorithm() === encryptions.Cesar}"
  >
  <ng-content></ng-content>
  <input class="input w-full" placeholder="Input text" [formField]="cardInputForm.text" [class.input-error]="cardInputForm.text().dirty() && cardInputForm.text().invalid()"/>
  @switch (algorithm()) {
    @case (encryptions.Cesar) {
      <input class="input w-full" placeholder="Shift" type="number" [formField]="cardInputForm.shift" [class.input-error]="cardInputForm.shift().dirty() && cardInputForm.shift().invalid()"/>
    }
    @case (encryptions.CesarKey) {
      <input class="input w-full" placeholder="Input key" [formField]="cardInputForm.key" [class.input-error]="cardInputForm.key().dirty() && cardInputForm.key().invalid()"/>
    }
  }
  <input class="input w-full" placeholder="Result" [formField]="cardInputForm.result"/>
  <button class="btn btn-primary w-full" type="submit" [disabled]="cardInputForm().invalid()">Encode</button>
</form>
@if (algorithm() === encryptions.Cesar) {
  <div class="flex-1 overflow-y-auto">
    <table class="table table-xs bg-base-100 shadow-sm">
      <thead>
        <tr>
          <th>Step</th>
          <th>Text</th>
        </tr>
      </thead>
      <tbody>
        @for (row of cesarResults(); track $index) {
          <tr class="hover:bg-base-200">
            <td>Step {{ $index }}</td>
            <td>{{ row.encryptedText }}</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
}